body {
    background-color: #F1F1F1;
    margin-left: 24px;
    font-family: Arial;
    overflow-x: hidden;
}

main {
    display: block;
}

header, footer {
    padding: 1em;
    background-color: #AAAAAA;
    clear: left;
    text-align: center;
}

.f {
    color: black;
    font-size: 16px;
    text-align: left;
}

nav {
    float: left;
    max-width: 160px;
    margin: 10px;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

h1 {
    color: green;
    text-align: left;
    margin-left: 0px;
    font-size: 18px;
}

p {
    font-size: 18px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

h1.title {
    color: green;
    text-align: center;
    font-size: 130px;
    font-weight: bold;
    padding: 34px;
}

sup.tm {
    vertical-align: super;
    font-size: 28px;
}

span.descr {
    color: black;
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
}

span.shadow {
    text-shadow: 4px 5px grey;
    text-align: center;
    font-weight: bold;
}

section.charts {
    margin-top: 10px;
    margin-left: 20px;
}
